* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.waviy {
  position: relative;
  align-items: center;
  justify-content: center;
}
.waviy span {
  position: relative;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(0.2s * var(--i));
}
@keyframes flip {
  0%,
  80% {
    transform: rotateY(360deg);
  }

  main {
    background-color: bisque;
  }

  img {
    width: 500px;
    height: 250px;
    object-fit: contain;
    border-radius: 20px;
  }
}

.walkingDogContainer {
  width: 100%;
  position: absolute;
  top: 0%;
  z-index: 2;
}

.walkingDog {
  width: 4%;
  height: auto;
  position: absolute;
  left: 0px;
  margin-left: 0;
}
}

.title {
  text-align: center;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  position: relative;
}

.homepageTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: tan;
  position: absolute;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 8%;
  border: 2px solid rgba(0, 0, 0, 0.8);
}

.bannerImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#dogFactDisplay {
  max-width: 50%;
  text-align: center;
}

#dogHeaderImage {
  width: 100%;
  height: 600px;
  object-fit: cover;
  border: 2px solid black;
  opacity: 0.8;
  position: absolute;
  z-index: 0;
  left: 0%;
  top: 10%;
}
.container {
  /*   background-color: gray;
  padding: 3rem;
  border-radius: 1rem;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */

  /* width: fit-content; */
  width: 700px;
  height: 150px;
  background: rgba(210, 180, 140, 0.5);
  padding: 3rem;
  border-radius: 0.5rem;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 25%;
}
.parentFactContainer {
  display: flex;
  align-content: center;
  justify-content: center;
  position: absolute;
  top: 58%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.factContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#text-primary {
  font-size: larger;
  color: white;
  margin-bottom: 20px;
}

.btn {
  grid-column: span 2;
  background-color: black;
  border: 2px solid white;
  color: white;
  padding: 0.5rem 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 1rem;
  justify-self: center;
  margin-left: 5px;
}

.btn:hover {
  background-color: #bbbbbb;
  color: white;
}

.foodInputContainer {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.foodInputContentContainer {
  width: 58%;
  background-color: gray;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  padding: 40px;
}

.form {
  display: flex;
  justify-content: center;
  align-content: center;
  opacity: 1 !important;
}

.searchBar {
  border: 1px solid black;
  margin: 2px;
}
.foodInputContainer {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: white; */
}

.foodInputContentContainer {
  width: 500px;
  background-color: gray;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  padding: 40px;
}

/*
CSS Styling to hide elements when not being used. 
*/
.hideContainer {
  display: none;
}
